@model DiseaseTracker.Models.HomeViewModel

@{
    ViewData["Title"] = "COVID-19 Statistics";
}

<div class="home text-center mt-3">
    <div class="home-center">
        <h1 class="display-4 header">COVID-19 Statistics</h1>
        <div class="row home-row">
            <div class="col-sm">
                <p class="locations-confirmed text-left">Confirmed:</p>
                <p class="locations-deaths text-left">Deaths:</p>
                <p class="locations-recovered text-left">Recovered:</p>
            </div>
            <div class="col-sm">
                <p class="locations-confirmed text-right">@Model.Statistics.Confirmed</p>
                <p class="locations-deaths text-right">@Model.Statistics.Deaths</p>
                <p class="locations-recovered text-right">@Model.Statistics.Recovered</p>
            </div>
        </div>
        @{
            if (Model.TotalVisits == 1)
            {
                <div class="home-visit-text text-center">
                    It's your first time visiting this page!
                </div>
            }
            else
            {
                <div class="home-visit-text text-center">
                    New confirmed cases since your last visit: @Model.ConfirmedIncrease.
                </div>
                <div class="home-visit-text text-center">
                    You have already visited this page @Model.TotalVisits times,
                </div>
                <div class="home-visit-text text-center">
                    last visit was @Model.LastVisit.
                </div>
            }
        }
    </div>
</div>