@using System.Text.RegularExpressions
@model List<DiseaseTracker.Models.COVID19Location>

@functions {
    private string FormatCountryId(int i)
    {
        Regex regex = new Regex(@"[^a-zA-Z]");
        return regex.Replace(Model[i].Country, "");
    }
}

@{
    ViewData["Title"] = "COVID-19 Locations";
}

<div class="row mt-3">
    <div class="col-4">
        <div class="locations-list scrollbar">
            <div class="list-group locations-list-group" id="list-tab" role="tablist">
                @for (int i = 0; i < Model.Count; i++)
                {
                    string active = i == 0 ? "active" : "";
                    string countryId = FormatCountryId(i);
                    <a class="list-group-item list-group-item-action list-group-item-light @active" id=@countryId"-list" data-toggle="list" href="#@countryId" role="tab" aria-controls="profile">@Model[i].Country</a>
                }
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="locations">
            <div class="tab-content locations-center" id="nav-tabContent">
                @for (int i = 0; i < Model.Count; i++)
                {
                    string showActive = i == 0 ? "show active" : "";
                    string countryId = FormatCountryId(i);
                    <div class="tab-pane fade @showActive" id=@countryId role="tabpanel" aria-labelledby=@countryId"-list">
                        <p class="text">Country: @Model[i].Country</p>
                        <p class="text">Confirmed: @Model[i].Latest.Confirmed</p>
                        <p class="text">Deaths: @Model[i].Latest.Deaths</p>
                        <p class="text">Recovered: @Model[i].Latest.Recovered</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>