<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Disease Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Styles/Home.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Styles/Locations.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Styles/Text.css")" rel="stylesheet" type="text/css"/>
    @RenderSection("Styles", false)
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    @Html.ActionLink("Disease Tracker", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            @Html.ActionLink("Home", "Index", "Home", new {area = ""}, new {@class = "nav-item nav-link"})
            @Html.ActionLink("Locations", "Index", "Locations", new {area = ""}, new {@class = "nav-item nav-link"})
        </div>
    </div>
</nav>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <div class="text-center">
            <p>&copy; @DateTime.Now.Year - Disease Tracker by Agnieszka Ganowicz and Pawel Cembaluk</p>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>